* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8fafc;
}
:root {
  --primary: #BFA2FF;
  --secondary: #FDE68A;
  --light-yellow: #FEF9C3;
  --background: #FFFDF5;
  --text: #4B5563;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}